body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8cbcb;
}

header {
    background-color: #1d1c1c;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.movie-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.movie-item img {
    max-width: 100%;
    border-radius: 8px;
}

.movie-item h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.movie-item p {
    font-size: 1rem;
    color: #666;
}

.book-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.book-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}